body{
    background-color: #d2dae1;
}
.social-section{
    background: linear-gradient(135deg,#212529,#343a40);
    padding: 90px 0;
}
.social-link{
    text-decoration: none;
    display: block;
    color:inherit;
}
.social-card{
    background-color: #212529;
    border-radius: 14px;
    padding: 28px;
    transition: all 0.3s ease;
    cursor: pointer;
    height: 100%;
}
.social-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 -12px 30px lime;
}
.social-icon{
    font-size: 2.5rem;
}
footer{
    background-color: #212529;
}
