 .pimg3{
    position:relative;
    opacity:0.70;
    background-position:center;
     background-size: cover;
   background-repeat:no-repeat; 
   background-attachment: fixed; 
    }

    .pimg3{
    background-image:url('image3.jpg');
    min-height:400px;
    }
   
    section{
    text-align:center;
    padding: 50px 8px;
    }
   
    .section-light{
   background-color: #f4f4f4;
    color: #666;
   
    }
    .section-dark{
    background-color: #282e34;

    }
    .ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color: #000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
    }
    .ptext border {
    background-color: #111;
    color: #fff;
    padding: 20px;
    }
    .ptext.border.trans{
    background-color: transparent;
    }
    @media(max-width: 568px){
 .pimg3{
    background-attachment:scroll;
    }
}